
/* head */
.head {
	height: 60px;
	/* margin-left: 90px; */
}

.body {
	height: 600px;
}

.tail {
	height: 50px;
}

.head-last-margin {
	margin-top: 10px;
}

.head-logo {
	margin-top: 10px;
	margin-left:40px;
	height: 40px;
	width: 200px;
}

.head-search {
	margin-top: 15px;
}

.bg-my{
	background-color: black;
	opacity: 0.6;
}

/* body */
.body-left {
	position: absolute;
	margin-left: 17px;
	margin-top: 0px;
	height: 552px;
	width: 253px;
	/* border: 1px solid black; */
	background-color: #ffffff;
	border-radius:1px;/* 圆角 */
	opacity: 0.9; /* 透明度 */
}

.body-right {
	position: absolute;
	margin-left: 270px;
	margin-top: 0px;
	height: 580px;
	width: 1095px;
	/* border: 1px solid black; */
	background-color: white;
	border-radius:0px;
	opacity: 1; /* 透明度 */
	z-index: 1;
}

/* mymessage.jsp */
.panel-body-my{
	height: 510px;
}